body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg3.png'); /* Replace 'bg.png' with your background image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(51, 51, 51, 0.7); /* RGBA color for semi-transparent black */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
}

section h2 {
    color: #333;
    margin-bottom: 30px;
}

.container {
    width: 80%; /* Set the width of the container */
    max-width: 400px; /* Set a maximum width to prevent it from getting too wide on larger screens */
    height: 200px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding to create space around the text */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

.container p {
    font-size: 18px; /* Adjust the font size */
    line-height: 1.6; /* Adjust the line height for better readability */
    font-family: Arial, sans-serif; /* Set the font family */
}


footer {
    background-color: rgba(51, 51, 51, 0.7); /* RGBA color for semi-transparent black */
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
